@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-dark: #1F1F1F;
    --primary-dark-800: #252525;
    --primary-dark-700: #2d2d2d;
    --primary-light: #EFEFEF;
    --primary-accent: #FBE5A2;
    --secondary-accent: #0d6b8a;
    --secondary-accent-700: #055570;
    --secondary-accent-900: #023d50;
    --tertiary-accent: #8fda7e;
}

body {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}
