@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-dark: #1F1F1F;
    --primary-light: #EFEFEF;
    --primary-accent: #FBE5A2;
    --primary-accent: rgba(251, 229, 162, 0.6);
    --secondary-accent: #0d6b8a;
    --secondary-accent-700: #055570;
    --secondary-accent-900: #023d50;
}

body {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}
